

<div class="pending-appointments">
  <h2>You have {{ inquiry.length }} pending appointments!</h2>
</div>

<div class="inquiry-container">
  <mat-card *ngFor="let i of inquiry; let j = index" class="inquiry-card">
    <mat-card-header>
     
      <mat-card-subtitle>
        <mat-card-title class="name"><mat-icon>person</mat-icon>{{ i.firstName }} {{ i.lastName }}</mat-card-title></mat-card-subtitle>
      <mat-card-subtitle class="inquiry-card-email">Email: {{ i.email }}</mat-card-subtitle>
      <mat-card-subtitle class="inquiry-card-subtitle">First Time Owner: {{ i.firstTimeOwner }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="inquiry-card-content">
      <p><strong>Intended Visit Date:</strong> {{ i.intended_visit_date | date: 'mediumDate' }}</p>
      <p><strong>Intended Visit Timing:</strong> {{ i.selectedHour }}</p>
      <p><strong>Dog's Name:</strong> {{ i.dogName }}</p>
      <img [src]="i.url" alt="doggo pic" height="250px" width="200px">
    </mat-card-content>
    <mat-card-actions class="inquiry-card-actions">
      <button mat-button class="accept-button" color="primary" (click)="acceptInquiry(i, j)">Accept</button>
      <button mat-button class="decline-button" color="warn" (click)="declineInquiry(i)">Decline</button>
    </mat-card-actions>
  </mat-card>
</div>






  