

.banner-container {
  position: relative;
  width: 100%;
}

.banner-image {
  width: 100%;
  height: 550px; /* Adjust the height according to your image aspect ratio */
}

.banner-button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  font-size: 20px; /* Adjust the font size as needed */
  padding: 30px 50px; /* Adjust padding to increase button size */
  transform: translate(-50%, -50%);
  background-color: peru; /* Button background color */
  color: white; /* Button text color */
}

.banner-container h1{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 300%;
}
  

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 1;
  padding: 100px;

}
.mat-expansion-panel-header:hover .firstQn, 
.mat-expansion-panel-header:hover .secondQn,
.mat-expansion-panel-header:hover .thirdQn 
  {
  color: peru ;/* Change to your desired color */


}

.picture-container {
  flex: 1;
}

.picture-container img {
  width: 550px;
  height: 350px;
  padding: 20px;
  border-radius: 50px;
}

.peru-button {
  padding: 30px 50px;
  border-radius: 20px;
  background-color: peru;
  color: white; /* Optionally, change text color to contrast with the background */
}

.FAQS {
  margin: 20px;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.FAQS h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.firstQn{
  color: navy;
  font-size: 20px;
  padding-top:10px;
  width: 100%;
}


.secondQn{
  color: navy;
  font-size: 20px;
  padding-top:10px;
  width: 100%;

}

.thirdQn{
  color: navy;
  font-size: 20px;
  padding-top:10px;
  width: 100%;
}

.answer {
  padding: 10px;
}



.answer p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.answer ul {
  list-style-type: disc;
  margin-left: 20px;
}

.answer a {
  color: peru;
  text-decoration: none;
}

.answer a:hover {
  text-decoration: underline;
}
